{% extends 'gallery/base.html' %}

{% block content %}  
  {% for GalleryItem in object_list %}
    <div class="card">
      <img src="{{ GalleryItem.picture.url }}" alt="{{ GalleryItem.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ GalleryItem.title }}</h5>
        <p class="card-text">{{ GalleryItem.description }}</p>
        <a href="{% url 'edit_post' pk=GalleryItem.pk %}" class="btn btn-primary">Edit Memory</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}